*{
    box-sizing: border-box;
}

/* all */
body {
    font-family: 'Roboto', sans-serif;
    color: grey;
    background-color: yellow;
}

#container{
    width: 1000px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 80px;
}

/* nav */
nav {
    width: 300px;
    margin: auto;
    text-align: center;
}

nav li{
    /* color: red; */
    list-style-type: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
}

nav li:hover{
    background-color: lightgreen;
    cursor: pointer;
}

#black_option {
    color: black;
    font-weight: 700;
}

/* header */
header{
    position: relative;
}

header img{
    width: 1000px;
}

header h1{
    color: white;
    width: 500px;
    border: 5px solid;
    margin: auto;
    position: absolute;
    top: 150px;
    text-align: center;
    left: 250px;
}

/* article */
article{
    text-align: center;
    width: 500px;
    margin: 50px auto;
    font-size: 18px;
    line-height: 250%;
    height: 800px;
    overflow: scroll;
    border: 2px solid;
    background-color: white;
}

article p, h2, h3{
    padding: 0 50px;
}

article h2, h3{
    color: red;
}

article h3{
    border: 2px red dotted;
}

.author{
    border-bottom: 1px solid;
    border-top: 1px solid;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: antiquewhite;
    width: 100%;
    margin-bottom: 30px;
}

/* footer */
footer{
    background-color: white;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    height: 200px;
    text-align: center;
    position: relative;
}

footer li{
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    background-color: red;
    color: white;
    margin: 0 20px;
}

footer li:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
    cursor: pointer;
}

#buttons
{
    position: absolute;
    top: 60px;
    width: 100%;
}