body {
    font-family: 'Roboto', sans-serif;
}

#container{
    width: 1000px;
    margin: auto;
}

/* nav */
nav {
    width: 300px;
    margin: auto;
    text-align: center;
}

nav li{
    /* color: red; */
    list-style-type: none;
    padding: 15px;
    font-size: 20px;
    color: grey;
    border-radius: 10px;
}

nav li:hover{
    background-color: lightgreen;
    cursor: pointer;
}

#black_option {
    color: black;
    font-weight: 700;
}

/* header */
header{
    position: relative;
}

header img{
    width: 1000px;
}

header h1{
    color: white;
    width: 500px;
    border: 5px solid;
    margin: auto;
    position: absolute;
    top: 150px;
    text-align: center;
    left: 250px;
}